body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #0d0d0d; /* Dark background color */
    color: #fff;
}

/* Navbar styles */
.navbar {
    background-color: #1a1a1a; /* Dark gray background color */
}

.navbar-brand {
    font-weight: bold;
}

.navbar-toggler-icon {
    background-color: #fff;
}

/* Add this class to the sections for the fade-in animation */
.fade-in {
    animation: fadeIn 1.5s ease-in-out;
}

/* Hover effect for sections */
.section:hover {
    transform: scale(1.05);
}

/* Hover effect for social icons */
.social-icon:hover {
    transform: scale(1.2);
}

/* Animation keyframes for fade-in */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Add other styles as needed */
